<ion-content>

  <ion-row class="ion-margin-top">
    <ion-col size="12" class="ion-text-center">
      <ion-text class="title"> Product Stocks </ion-text>
    </ion-col>
  </ion-row>



  <ion-grid class="stocks">

    @for (category of categoryStocks; track category.categoryId) {

    <h3>{{ category.categoryName }}</h3>
    <ion-row>
      @for (product of category.products; track product.id) {
      <ion-col size="12" sizeMd="3" sizeLg="2">

        <ion-card>
          <img [alt]="product.name" [src]="product.imgPath" />
          <ion-card-header>
            <ion-card-title>{{product.name }} <span> ₹{{ product.price }}</span> </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div>
              <label>Stock</label>
              <input type="text" [disabled]="!product.isAvailable" [(ngModel)]="product.stock"
                (keypress)="keyPressNumbers($event)" />
            </div>
            <div>
              <label> Availability </label>
              <ion-toggle color="primary" [(ngModel)]="product.isAvailable"></ion-toggle>
            </div>
            <ion-button expand="block"
              (click)="UpdateStock(product.id, product.isAvailable, product.stock)">Update</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      }
    </ion-row>
    }

  </ion-grid>

</ion-content>